@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Petemoss&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
	box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5{
	margin: 0;
}
p{
    margin:0 0 50px 0;
}
span{
    color:red;  
}

main {
	display: flex;
	justify-content: center;
	background-color:#ffdcdc;
}

.book {
	--book-height: 100vh;
	--book-ratio: 1.4;
}

.book > div {
	height: var(--book-height);
	width: calc(var(--book-height) / var(--book-ratio));
	overflow: auto;
	background-color: #2b3063; 
	transform: scale(0.9);
	border-radius: 6px;
	transform-origin: left;
}

.book-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9;
	text-align: center;
	color: white;
	transition: transform 2s;
}

.book-cover::before {
	content: "";
	position: absolute;
	width: 20px;
	right: 20px;
	top: 0;
	bottom: 0;
	background-color: #b85750;
}

h1 {
	font-family: "Petemoss", cursive;
	font-size: 98px;
	font-weight: 300;
	color: #ffffff;
}

h2 {
	font-size: 16px;
}

.separator {
	--separator-size: 8px;
	width: var(--separator-size);
	height: var(--separator-size);
	background-color: #dbd75d;
	margin: 50px auto 60px auto;
	border-radius: 50%;
	position: relative;
}

.separator::after,
.separator::before {
	content: "";
	position: absolute;
	width: 20px;
	background-color: rgb(199, 198, 194);
	height: 2px;
	top: calc(50% - 1px);
}

.separator::after {
	left: 15px;
}

.separator::before {
	right: 15px;
}

.book-content {
	transform: scale(0.9) translateY(30px);
	background-color: white !important;
	transition: all 0.3s 1s;
    padding-bottom: 100px;
}

.book-content h3,
.book-content p {
	opacity: 0;
	transition: all 0.3s 0.3s;
}

h3 {
	padding: 70px;
}

p {
	padding: 0px 30px 10px 30px;
	text-align: justify;
	font-size: 14pt;
}

.book-cover > div {
	transition: opacity 0s 0.6s;
}

.book:hover > .book-cover {
	transform: rotateY(180deg) scale(0.9);
}

.book:hover > .book-cover > div {
	opacity: 0;
}

.book:hover > .book-content {
	transform: scale(0.9) translateY(0px);
}

.book:hover > .book-content h3,
.book:hover > .book-content p {
	opacity: 1;
}

.love{
    text-decoration: none;
    color:red;
}



.image{
    margin: 0 0 60px 0;
    min-height: 10vh;
    display: grid;
    place-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 50px;
    background: #e8e8e8;
}
img{
    --s: 15px;  /* size of the frame */
    --b: 2px;   /* border thickness */
    --w: 200px; /* width of the image */
    --c: #7B3B3B;
    
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background:
      linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
      linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
  }
  img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
    transform:scale(1.5);
  }

  video{
    --s: 15px;  /* size of the frame */
    --b: 2px;   /* border thickness */
    --w: 200px; /* width of the image */
    --c: #7B3B3B;
    
    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
    background:
      linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
      linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
  }
  video:hover{
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
    transform:scale(1.5);
  }
